
/*about me*/
.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
  }
  
  .about h1 {
    color: #F97300;
    margin: 2em;
  }
  
  .about img {
    height: 100%;
    width: 100%;
    border-radius: 1%
  }
  
  .about span {
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
  }
  
  .about .desc {
    padding: 2em;
    border-left: 4px solid #10828C;
  }
  
  .about .desc h3 {
    color: #10828C;
  }
  
  .about .desc p {
    line-height: 2;
    color: #888;
  }

  /*caoursel*/
  .carousel-nav-icon {
    height: 48px;
    width: 48px;
  }

  .carousel-item {

    .col,
    .col-sm,
    .col-md {
      margin: 8px;
      height: 300px;
      background-size: cover;
      background-position: center center;
    }
  }
 
  /*Portfolio*/
  .portfolio {
    margin: 4em 0;
    position: relative;
  }
  
  .portfolio h1 {
    color: #F97300;
    margin: 2em;
  }
  
  .portfolio img {
    height: 15rem;
    width: 100%;
    margin: 1em;
  }
