<!--about me-->
<div class="about" id="about">
    <h1 class="text-center">Soirée entreprise, cocktail . . . </h1>
    <h2 class="text-center"> Trouver votre traiteur à Tana pour évènement d’entreprise </h2>
    <div class="about">
        <div class="container text-center">
            <div class="row  d-flex align-items-center">            
              


                 <!--slick-->
               
                    <ngx-slick-carousel class="carousel" 
                                #slickModal="slick-carousel" 
                                [config]="slideConfig"
                                (init)="slickInit($event)" 
                                (breakpoint)="breakpoint($event)" 
                                (afterChange)="afterChange($event)"
                                (beforeChange)="beforeChange($event)">
                      
                      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                        <img src="{{ slide.img }}" alt="" width="100%">
                      </div>
                    </ngx-slick-carousel>
                
                    <button (click)="addSlide()">Add</button>
                    <button (click)="removeSlide()">Remove</button>
                    <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
                    <button (click)="slickModal.unslick()">unslick</button>
                
                
            </div>
        </div>        
    </div>   
</div>

<!--portfolio-->
<div class="portfolio" id="portfolio">
    <h1 class="text-center">Portfolio</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="../../assets/img/tt_img_bg.jpg" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="../../assets/img/tt_img_bg.jpg" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="../../assets/img/tt_img_bg.jpg" class="img-fluid">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="../../assets/img/tt_img_bg.jpg" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="../../assets/img/tt_img_bg.jpg" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="../../assets/img/tt_img_bg.jpg" class="img-fluid">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="../../assets/img/tt_img_bg.jpg" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="../../assets/img/tt_img_bg.jpg" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="../../assets/img/tt_img_bg.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</div>
