<!-- navbar -->
<nav class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand my-brand" href="#">Traiteur Tana</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" (click)="goTo('about')"  data-value="about" >Evènement</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center " (click)="goTo('portfolio')" data-value="portfolio">Mode de restauration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center " (click)="goTo('blog')" data-value="blog" >Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" (click)="goTo('team')" data-value="team" > Team</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" (click)="goTo('contact')" data-value="contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<!--header-->
<header class="header " [style.height.px]="innerHeight">
    <div class="overlay d-flex flex-column align-items-center">
        <div class="description  text-center">
            <h1>Recevez des devis gratuitement pour votre évènement à Antananarivo !</h1>  
            <h3 class="call-text">Un service de qualité adapté à votre budget</h3>
            <h3 class="call-text">Les meilleurs services traiteurs à Tana </h3>              
           <button class="btn btn-outline-secondary btn-lg">Demander un devis</button>
         </div>
    </div>
</header>
<!--Event section-->
<app-event></app-event>

<!--mode section-->
<app-mode></app-mode>

<!--footer section-->
<app-footer></app-footer>


