

/* navbar custom */
.my-brand {
  font-family: 'Dancing Script', cursive !important;
  font-size: 2em;
}

.navbar {
  background: #F97300;
}

.nav-link,
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover{
  color: #f4f4f4;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #fff !important;
}

/*header style*/
.header {
  background-image: url('../../assets/img/tt.jpg'); //use img processing with jimp
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;  
  //background: rgba(244, 244, 244, 0.79);rgba(255, 0, 150, 0.3)
  background: rgba(0, 0, 0, 0.72)
}

.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}

.call-text {
  color: #f4f4f4;
}

.description h1 {
  color: #F97300;
  font-weight: bold;
}

.description p {
  color: #666;
  font-size: 20px;
  width: 100%;
  line-height: 1.5;
}

.description button {
  border: 1px solid #F97300;
  background: #F97300;
  color: #fff;
  margin: 2em;
}



